html { 
	height: 100%;
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
#gazComp .clear {
	clear:both;
}
#gazComp #map { 
	height: 400px;
}
#gazComp #choices {
	position: absolute;
	left: 50%;
	margin-left: -102px;
	margin-top: -48px;
	background-color: rgba( 0,0,0,0.5 );
	z-index: 9999;
	overflow: hidden;
}
#gazComp .choice {
	padding: 20px;
	font-family: "Dingbats", sans-serif;
	text-decoration: none;
	font-size: 40px;
}
#gazComp .choice:hover {
	background-color: rgba( 0,0,0,0.5 );
}
#gazComp .choice#yes {
	color: #33FF33;
}
#gazComp .choice#no {
	color: #FF3333;
}
#gazComp .choice#dunno {
	font-style: italic;
	color: #CCCCFF;
}
#gazComp #header,
#gazComp #comp {
	font-family: 'Roboto', Arial, sans-serif;
	width: 100%;
}
#gazComp #header .gaz,
#gazComp #comp .gaz {
	font-weight: 300;
	font-size: 13px;
	padding: 10px 10px 50px 10px;
	box-sizing: border-box;
	width: 50%;
	float: left;
}
#gazComp #header .gaz.g2 {
	text-align: right;
}
#gazComp #header .item .gaz {
	padding: 10px 40px;
}
#gazComp #comp .item {
	margin-bottom: 2px;
}
#gazComp #comp .gaz .key {
	font-size: 10px;
	font-style: italic;
	margin-bottom: 10px;
}
#gazComp .info_window {
	padding: 10px;
}
#gazComp #header .gaz.g1,
#gazComp .info_window.g1 {
	background-color: #FFFFAA;
}
#gazComp #comp .gaz.g1 {
	background-color: #FFFFDD;
}
#gazComp #header .gaz.g2,
#gazComp .info_window.g2 {
	background-color: #AAFFFF;
}
#gazComp #comp .gaz.g2 {
	background-color: #DDFFFF;
}
#gazComp #comp .gaz a {
	display: block;
	margin-bottom: 20px;
}
#gazComp #comp .gaz.g1 .key,
#gazComp #comp .gaz.g1 .val {
	text-align: right;
}
#gazComp #header .id,
#gazComp .info_window .id {
	font-style: italic;
}